.titulo PROGRAMAÇÃO
  .container-fluid
    .container
        - last = content.programacao.length - 1
        each atividade, i in content.programacao
            - oficinas = atividade.oficinas
            - classe_titulo = `titulo-timeline` + (atividade.descricao ? "" : " sem-descricao")
            - classe_conteudo = `atividade-conteudo col-10` + (oficinas || atividade.descricao ? "" : " sem-descricao")
            .row.atividade
                if(i % 2)
                    .col-10.text-right
                        div(class=classe_conteudo)
                            if(oficinas)
                                each oficina in oficinas
                                  .oficina
                                      p.titulo-timeline=oficina.titulo
                                      if(oficina.descricao)
                                        p.texto-descricao=oficina.descricao
                            else
                              p(class=classe_titulo)=atividade.titulo
                              if(atividade.descricao)
                                p.texto-descricao=atividade.descricao
                else 
                    .col-2.text-center.bottom
                        .circle=atividade.hora
                    

                if(i % 2)
                   .col-2.text-center.full
                        .circle=atividade.hora
                else
                    .col-10.text-left
                         div(class=classe_conteudo)
                            if(oficinas)
                                each oficina in oficinas
                                    .oficina
                                        p.titulo-timeline=oficina.titulo
                                        if(oficina.descricao)
                                            p.texto-descricao=oficina.descricao
                            else

                              p(class=classe_titulo)=atividade.titulo
                              if(atividade.descricao)
                                p.texto-descricao=atividade.descricao
                   

            if(i < last)
                if(i % 2)
                    .row.timeline
                        .col-2
                            .corner.right-bottom
                        .col-8
                            hr
                        .col-2
                            .corner.top-left
                else
                    .row.timeline
                        .col-2
                            .corner.top-right
                        .col-8
                            hr
                        .col-2
                            .corner.left-bottom        
                    