.titulo PROGRAMAÇÃO
  .container-fluid
    .container
        - last = content.programacao.length - 1
        each atividade, i in content.programacao
            - oficinas = atividade.oficinas
            .row.atividade
                if(i % 2)
                    if(oficinas)
                        each oficina in oficinas
                            -console.log(oficina)
                            .col-6
                              p.titulo-timeline=oficina.titulo
                              if(oficina.descricao)
                                p.texto-descricao=oficina.descricao
                    else
                        .col-6
                          p.titulo-timeline=atividade.titulo
                          if(atividade.descricao)
                            p.texto-descricao=atividade.descricao
                else 
                    .col-2.text-center.bottom
                        .circle=atividade.hora
                    

                if(i % 2)
                   .col-2.text-center.full
                        .circle=atividade.hora
                else
                    if(oficinas)
                        each oficina in oficinas
                            -console.log(oficina)
                            .col-6
                              p.titulo-timeline=oficina.titulo
                              if(oficina.descricao)
                                p.texto-descricao=oficina.descricao
                    else
                        .col-6
                          p.titulo-timeline=atividade.titulo
                          if(atividade.descricao)
                            p.texto-descricao=atividade.descricao
                   

            if(i < last)
                if(i % 2)
                    .row.timeline
                        .col-2
                            .corner.right-bottom
                        .col-8
                            hr
                        .col-2
                            .corner.top-left
                else
                    .row.timeline
                        .col-2
                            .corner.top-right
                        .col-8
                            hr
                        .col-2
                            .corner.left-bottom        
                    